
*, *:before, *:after {
  box-sizing: border-box;
}

.navi{
  text-align: center;
  border: 1px solid black;
}
h1{
	color: blue;
}

.row{
	border: 1px solid green;
	margin-left: 50px;
}

.block{
	width: 35px;
	height: 35px;
	border: 1px solid lightblue;
	float: left;
	text-align: center;
	padding-top: 7px;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}